<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

 <body style="background: url('');">

    <div class="container">

        <!-- Update Color Card -->
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <div class="row">
                        
                        <div class="col">
                            Pick a Color!
                            <br>
                            <form action="/customize/addColBG" method="post">
                            <button type = "submit" class="btn btn-primary" name = "colBG" id = "colBG" 
                            value= #0
                            onclick="changeColor()">Update</button>
                            </form>
                        </div>
                        <div class="col">
                            <input type="color" id="colBG" value="#0000ff"
                            style="width: 4rem; height: 4rem;"
                            >
                        </div>
                   
                </div>
            </div>
        </div>

        <!-- Update Image Card -->
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <div class="row">
         
                    <div class="col">
                        Enter an Image URL!
                        <br>
                        <button class="btn btn-primary" onclick="changeImage()">Update</button>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="url" id = "myImg" class="form-control">
                        </div>
                    </div>

                </div>
            </div>
        </div>

         <!-- Update Color Card -->
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <div class="row">
         
                    <div class="col">
                        Pick another Color!
                        <br>
                        <button class="btn btn-primary" onclick="changeColor2()">Update</button>
                    </div>
                    <div class="col">
                        <input type="color" id="myCol2" value="#0000ff"
                        style="width: 4rem; height: 4rem;"
                        >
                    </div>

                </div>
            </div>
        </div>

        <!-- Update Image Card -->
        <div class="card" style="width: 16rem;">
            <div class="card-body">
                <div class="row">
         
                    <div class="col">
                        Enter another Image URL!
                        <br>
                        <button class="btn btn-primary" onclick="changeImage2()">Update</button>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="url" id = "myImg2" class="form-control">
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

    <script>
        function getColor()
        {
            let col = document.getElementById("myCol").value;
            return col;
        }
    </script>

    <!-- Update the color -->
    <!-- used script found here: https://www.youtube.com/watch?v=DP9-CVgkgDA -->
    <script>
        function changeColor()
        {
            let color = document.getElementById("colBG").value;
            document.body.style.background = "";
            document.body.style.backgroundColor = color;
            document.getElementById("colBG").value = color;
        }
    </script>

    <script>
        function changeColor2()
        {
            let color = document.getElementById("myCol2").value;
            var cards = document.querySelectorAll(".card");
            cards.forEach(card => {
                card.style.backgroundColor = color;
            })
        }
    </script>

    <!-- update to an image -->
    <script>
        function changeImage()
        {
            let image = document.getElementById("myImg").value;
            document.body.style.background = "url("+ image + ")";
        }
    </script>

    <!-- update to an image -->
    <script>
        function changeImage2()
        {
            let image = document.getElementById("myImg2").value;
            var cards = document.querySelectorAll(".card");
            cards.forEach(card => {
                card.style.background = "url("+ image + ")";
            })
        }
    </script>
<%- include ('../partials/footer') %>