<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<!--This is the page for adding events-->
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Add an Event!</h1>
    <!--Event Add Form-->
    <form action = '/eventAdd' method = 'POST'>
        <!--req.session.user.username, req.body.name, req.body.eventTime, req.body.warnTime, req.body.description-->
        <!--Username is provided by the session-->
        <!--Event Name-->
        <div class="form-group">
          <label for="name">Event Name</label>
          <input type="text" class="form-control" id="name" name = "name" maxlength = "50" aria-describedby="eventName" placeholder="Enter Event Name">
        </div>

        <!--Event Time-->
        <div class="form-group">
        <label for="eventTime">Event Date:</label>
        <input type="date" id="eventTime" name="eventTime">
        </div>

        <!--Warn Time-->
        <div class="form-group">
        <label for="eventTime">When do you want us to send an alert?</label>
        <input type="date" id="warnTime" name="warnTime">
      </div>

        <!--Password-->
        <div class="form-group">
          <label for="text">Description</label>
          <input type="text" class="form-control" id="description" name = "description" maxlength = "255" placeholder="Enter a description...">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>




    </form>
  </div>
</main>

<%- include ('../partials/footer') %>