<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<body>
   // <% var username = 
<p>test text</p>

<!-- first in the top left, will greet the user with their username. -->

<!-- then, will show curr events for the day.-->

<!-- need to brainstorm other things to show-->
</body>

<%- include ('../partials/footer') %>